{% extends 'components/base.html' %}
{% block title %} Cadastrar {% endblock %}
{% block content %}
    {% include 'components/content_title.html' with title='Cadastrar' %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Nome de usuário</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">Senha</label>
            <input type="password" class="form-control" name="password1">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Confirme a senha</label>
            <input type="password" class="form-control" name="password2">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a href="{% url 'entrar' %}" class="btn btn-secondary">Já tenho conta</a>
    </form>
{% endblock %}