{% extends 'components/base.html' %}
{% block title %} Carrinho {% endblock %}
{% block content %}
    {% include 'components/content_title.html' with title='Carrinho' %}
    <div class="row">
        <div class="col-lg-7">
            {% for i in "01234" %}
            <div class="card mb-3 w-100 text-decoration-none">
                <div class="row g-0 align-items-center">
                    <div class="col-lg-6 p-3 ps-md-2">
                        <a href="{% url 'produto' %}">
                            {% load static %}
                            <img src="{% static 'img/teste.png' %}" class="img-fluid rounded-start" alt="...">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <div class="card-body">
                            <a href="{% url 'produto' %}" class="card-title text-decoration-none">
                                <h5 class="mb-2">Produto {{ i }}</h5>
                            </a>
                            <p class="card-text"><small>⭐⭐⭐⭐⭐</small></p>
                            <p class="card-text mt-3 mb-0 "><span class="text-decoration-line-through">R$39,99</span> 50% OFF</p>
                            <p class="card-text"><span class="fw-bold lead me-1">R$19,99</span>/ unidade</p>
                            <input type="number" id="number" placeholder="Quantidade" class="form-control" aria-label="Amount (to the nearest dollar)">
                            <div class="d-flex gap-3 flex-wrap mt-3">
                                <a href="#">Excluir</a>
                                <a href="#">Salvar</a>
                                <a href="#">Comprar agora</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-5 order-first order-lg-last mb-3 mb-lg-0">
            <div class="card">
                <div class="card-header text-center fw-bold">
                    Resumo
                </div>
                <div class="card-body">
                    <div class="row row-cols-2 gy-2 align-items-center justify-content-between">
                        <div class="fw-bold">Produtos (n)</div>
                        <div class="text-end">R$99,99</div>
                        <div class="fw-bold">Cupons (n)</div>
                        <div class="text-end">- R$99,99</div>
                    </div>

                    <div class="row row-cols-2 bg-body-secondary rounded-3 p-1 my-3">
                        <div class="fw-bold">R$10 OFF</div>
                        <div class="text-end">- R$10,00</div>
                        <div class="fw-bold">R$20 OFF</div>
                        <div class="text-end">- R$10,00</div>
                    </div>

                    <div class="row row-cols-2 gy-2 align-items-center justify-content-between">
                        <div class="fw-bold">Frete</div>
                        <div class="text-end">- R$99,99</div>
                        <div class="fw-bold">Total</div>
                        <div class="text-end">R$99,99</div>
                    </div>

                    <div class="d-flex gap-2 justify-content-between mt-3">
                        <a href="#" class="w-100 btn btn-primary">Comprar tudo</a>
                        <div class="dropdown w-100">
                            <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Adicionar cupom
                            </button>
                            <ul class="dropdown-menu">
                                {% for i in "12345" %}
                                    <li><a class="dropdown-item" href="#">Cupom {{ i }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="btn btn-danger w-100 mt-3">Esvaziar carrinho</a>
        </div>
    </div>
{% endblock %}