{% extends 'components/base.html' %}
{% block title %} Categorias {% endblock %}
{% block content %}
    <h3>Livraria</h3>
    <div class="d-flex flex-wrap justify-content-space-between gap-2">
    {% for i in "0123456789" %}
        <a class="btn btn-primary" href="#" role="button">Categoria {{i}}</a>
    {% endfor %}
    </div>

    <h3 class="mt-5">Papelaria</h3>
    <div class="d-flex flex-wrap justify-content-space-between gap-2">
    {% for i in "0123456789" %}
        <a class="btn btn-primary" href="#" role="button">Categoria {{i}}</a>
    {% endfor %}
    </div>
{% endblock %}