{% extends 'components/base.html' %}
{% block title %} Categorias {% endblock %}
{% block content %}
    {% include 'components/content_title.html' with title='Categorias' %}
    <h5>Livraria</h5>
    <div class="d-flex flex-wrap justify-content-space-between gap-2">
    {% for i in "0123456789" %}
        <a class="btn btn-primary" href="#" role="button">Categoria {{i}}</a>
    {% endfor %}
    </div>

    <h5 class="mt-5">Papelaria</h5>
    <div class="d-flex flex-wrap justify-content-space-between gap-2">
    {% for i in "0123456789" %}
        <a class="btn btn-primary" href="#" role="button">Categoria {{i}}</a>
    {% endfor %}
    </div>
{% endblock %}