{% extends 'components/base.html' %}
{% block title %} Compra {% endblock %}
{% block content %}
    {% include 'components/content_title.html' with title='Compra' %}
    {% include 'components/resumo_compra.html' with preco_produtos=compra.preco_produtos quantidade_produtos=compra.quantidade_produtos preco_total=compra.preco_total preco_frete=compra.preco_frete desconto_cupons=compra.desconto_cupons %}

    <div class="row gy-5">
        <div class="col-xl">
            <h5>Pix</h5>

            <form class="d-flex flex-column gap-4" method="post">
                {% csrf_token %}
                <h6>Existente</h6>
                <input type="hidden" name="FormaPagamento" value="Existente">
                <select required name="FormaId" class="form-select" id="inputGroupSelect01">
                    <option selected value="">Escolha...</option>
                    {% for chave in pix %}
                        <option value="{{ chave.id }}">{{ chave.chave }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Pagar com pix existente</button>
            </form>

            <form class="mt-4 d-flex flex-column gap-4" method="post">
                {% csrf_token %}
                <h6>Novo</h6>
                <input type="hidden" name="FormaPagamento" value="PixNovo">
                <div class="p-3 border">
                    {{ formulario_pix.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Pagar com pix novo</button>
            </form>

            </form>
        </div>

        <div class="col-xl">
            <h5>Cartão</h5>

            <form class="d-flex flex-column gap-4" method="post">
                {% csrf_token %}
                <h6>Existente</h6>
                <input type="hidden" name="FormaPagamento" value="Existente">
                <select required name="FormaId" class="form-select" id="inputGroupSelect01">
                    <option selected value="">Escolha...</option>
                    {% for cartao in cartoes %}
                        <option value="{{ cartao.id }}">**** **** **** {{ cartao.ultimos_digitos }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Pagar com cartão existente</button>
            </form>

            <form class="mt-4 d-flex flex-column gap-4" method="post">
                {% csrf_token %}
                <h6>Novo</h6>
                <input type="hidden" name="FormaPagamento" value="CartaoNovo">
                <div class="p-3 border">
                    {{ formulario_cartao.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Pagar com cartão novo</button>
            </form>
        </div>
    </div>
{% endblock %}
