{% extends 'components/base.html' %}
{% block title %} Compra {% endblock %}
{% block content %}
    {% include 'components/content_title.html' with title='Compra' %}
    {% include 'components/resumo_compra.html' with preco_produtos=compra.preco_produtos quantidade_produtos=compra.quantidade_produtos preco_total=compra.preco_total %}

    <h5>Transportadora</h5>
    <form method="post">
        {% csrf_token %}

        <div class="row row-cols-1 row-cols-lg-2">
            {% for compra_produto in compra_produtos %}
                <div class="col">
                    <div class="card mb-3 w-100 text-decoration-none">
                        <div class="row g-0 align-items-center">
                            <div class="col-md-5 p-3 ps-md-2">
                            {% load static %}
                                <img src="{% static 'img/teste.png' %}" class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title mb-2">{{ compra_produto.produto.nome }}</h5>
                                    <p>Quantidade: {{ compra_produto.quantidade }}</p>
                                    
                                    <select required name="Transportadora{{compra_produto.id}}" class="form-select form-select-lg mb-3" aria-label="Large select example">
                                        <option selected value="">Escolha...</option>
                                        {% for transportadora in transportadoras %}
                                            <option value="{{ transportadora.id }}">{{ transportadora.nome }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary w-100">Continuar</button>
    </form>
{% endblock %}