{% extends 'components/base.html' %}
{% block title %} Compra {% endblock %}
{% block content %}
    {% include 'components/content_title.html' with title='Compra' %}
    {% include 'components/resumo_compra.html' with preco_produtos=compra.preco_produtos quantidade_produtos=compra.quantidade_produtos preco_total=compra.preco_total preco_frete=compra.preco_frete %}

    <h5 class="mb-4">Cupons</h5>
    <form class="d-flex flex-column gap-4" method="post">
        {% csrf_token %}

        {% for cupom in cupons %}
        
            <div>
                <input value="{{ cupom.id }}" class="form-check-input" type="checkbox" name="cupons" id="cupons">
                <label class="form-check-label" for="cupons">{{ cupom.nome }}</label>
            </div>

        {% endfor %}

        <button type="submit" class="btn btn-primary">Continuar</button>
    </form>
{% endblock %}