{% extends 'components/base.html' %}
{% block title %} Compra {% endblock %}
{% block content %}

    {% include 'components/content_title.html' with title='Compra' %}
    {% include 'components/resumo_compra.html' with preco_produtos=compra.preco_produtos quantidade_produtos=compra.quantidade_produtos preco_total=compra.preco_total %}

    <h5>Endereço</h5>

    <form class="mt-5" method="post">
        {% csrf_token %}
        <input type="hidden" name="Tipo" value="Existente">

        <h6>Existente</h6>
        <select required class="form-select" id="inputGroupSelect01" name="Endereco">
            <option selected value="">Escolha...</option>
            {% for endereco in enderecos %}
                <option {% if endereco.is_principal %} selected {% endif %} value="{{ endereco.id }}">{{ endereco.nome }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="mt-2 btn btn-primary">Continuar com endereço existente</button>
    </form>

    <form class="mt-5" method="post">
        {% csrf_token %}
        <input type="hidden" name="Tipo" value="Novo">

        <h6>Novo</h6>
        <div class="p-3 border">
            {{ formulario.as_p }}
        </div>

        <button type="submit" class="mt-2 btn btn-primary">Continuar com endereço novo</button>
    </form>

{% endblock %}