{% extends 'components/base.html' %}
{% block title %} Endereços {% endblock %}
{% block content %}
    {% include 'components/content_title.html' with title='Endereços' %}
    <div class="row row-cols-1 row-cols-md-2 g-3">
        {% for endereco in enderecos %} 
            <div class="col">
                <div class="card p-3">
                    <div class="fw-bold text-center">{{ endereco.nome  }}</div>
                    <div class="d-flex flex-wrap justify-content-center gap-3">    
                        <a href="{% url 'enderecos_editar' %}">Editar</a>
                        <a href="#">Remover</a>
                    </div>
                    <table class="table table-sm">
                        <tbody>
                            {% for campo in campos %}
                                {% if campo.name != 'is_principal' and campo.name != 'id' %}                
                                    <tr>
                                        <td class="align-middle text-capitalize fw-bold pe-3">{{ campo.name }}</td>
                                        <td class="align-middle text-break text-end">{{ endereco.complemento|default:'-' }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'enderecos_criar' %}" class="btn btn-primary w-100 mt-4">Criar novo endereço</a>
{% endblock %}