{% extends 'components/base.html' %}
{% block title %} Formas de Pagamento {% endblock %}
{% block content %}
    {% include 'components/content_title.html' with title='Formas de Pagamento' %}
    <div class="row g-3">

        <div class="col">
            <h4>Pix</h4>
            {% for chave in pix %}
                <div class="card my-3 p-3">
                    <div class="fw-bold text-center">Pix {{ forloop.counter }}</div>
                    <div class="d-flex flex-wrap justify-content-center gap-3">
                        <a href="{% url 'formas_pagamento_remover' tipo_pagamento='pix' id_pagamento=chave.id %}">Remover</a>
                    </div>
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <td class="align-middle text-capitalize fw-bold pe-3">Chave:</td>
                                <td class="align-middle text-break text-end">{{ chave.chave }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% empty %}
                <p>Nenhum pix cadastrado.</p>
            {% endfor %}
            <p><a href="{% url 'formas_pagamento_criar' tipo_pagamento='pix' %}" class="btn btn-primary w-100 mt-4">Novo pix</a></p>
        </div>

        <div class="col">
            <h4>Cartões</h4>
            {% for cartao in cartoes %}
                <div class="card my-3 p-3">
                    <div class="fw-bold text-center">Cartão {{ forloop.counter }}</div>
                    <div class="d-flex flex-wrap justify-content-center gap-3">
                        <a href="{% url 'formas_pagamento_remover' tipo_pagamento='cartao' id_pagamento=cartao.id %}">Remover</a>
                    </div>
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <td class="align-middle text-capitalize fw-bold pe-3">Numero:</td>
                                <td class="align-middle text-break text-end">{{ cartao.numero }}</td>
                            </tr>
                            <tr>
                                <td class="align-middle text-capitalize fw-bold pe-3">Validade:</td>
                                <td class="align-middle text-break text-end">{{ cartao.validade }}</td>
                            </tr>
                            <tr>
                                <td class="align-middle text-capitalize fw-bold pe-3">Codigo de segurança:</td>
                                <td class="align-middle text-break text-end">{{ cartao.codigo_seguranca }}</td>
                            </tr>
                            <tr>
                                <td class="align-middle text-capitalize fw-bold pe-3">Nome do dono</td>
                                <td class="align-middle text-break text-end">{{ cartao.nome_dono }}</td>
                            </tr>
                            <tr>
                                <td class="align-middle text-capitalize fw-bold pe-3">Tipo:</td>
                                <td class="align-middle text-break text-end">{{ cartao.tipo }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% empty %}
                <p>Nenhum cartão cadastrado.</p>
            {% endfor %}
            <p><a href="{% url 'formas_pagamento_criar' tipo_pagamento='cartao' %}" class="btn btn-primary w-100 mt-4">Novo cartão</a></p>
        </div>
    </div>
{% endblock %}
