{% extends 'components/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="py-4 mb-4 rounded text-body-emphasis bg-body-secondary">
  <h1 class="display-4 fst-italic text-center">Livraria e Papelaria</h1>
</div>

<div class="row g-3">
  <div class="col-sm-4">
    <div class="card">
      <h3 class="bg-body-secondary text-center p-3 mb-0">Oferta do dia</h3>
      {% load static %}
      <img class="" src="{% static 'img/teste.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Nome produto</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}