{% extends 'components/base.html' %}
{% block title %} Lista de Desejos {% endblock %}
{% block content %}
    {% include 'components/content_title.html' with title='Lista de Desejos' %}
    
    <div class="row row-cols-1 row-cols-lg-2">
    {% for produto in produtos %}
        <div class="col">
            <div class="card mb-3 w-100 text-decoration-none">
                <div class="row g-0 align-items-center">
                    <div class="col-md-5 p-3 ps-md-2">
                    {% load static %}
                        <img src="{% static 'img/produto_placeholder.png' %}" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title mb-2">{{ produto.nome }}</h5>
                            <p class="card-text"><small>{{ produto.nota }}</small></p>
                            {% if produto.tem_promocao %}
              
                                <p class="card-text mt-3 mb-0 text-decoration-line-through">R${{ produto.preco_sem_desconto|floatformat:2 }}</p>
                                <p class="card-text">
                                <span class="fw-bold lead me-1">R${{ produto.preco|floatformat:2 }}</span>
                                {{ produto.desconto|floatformat:0 }}% OFF
                                </p>

                            {% else %}
                            <p class="card-text">
                            <span class="fw-bold lead me-1">R${{ produto.preco|floatformat:2 }}</span>
                            </p>
                            {% endif %}
                            <div class="d-flex gap-3 flex-wrap mt-3">
                                <a href="{% url 'produto' id_produto=produto.id %}">Ver produto</a>
                                <a href="{% url 'lista_de_desejos_remover' id_produto=produto.id %}">Remover da lista de desejos</a>
                                <a href="{% url 'carrinho_adicionar' id_produto=produto.id %}">Adicionar ao carrinho</a>
                                <a href="{% url 'comprar_produto' id_produto=produto.id %}">Comprar agora</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Você não possui produtos salvos na lista de desejos.</p>
    {% endfor %}
    </div>
{% endblock %}
