{% extends 'components/base.html' %}
{% block title %} Pesquisa {% endblock %}
{% block content %}

<div class="d-flex d-md-none justify-content-center pt-3 pb-4">
  <button class="btn btn-primary w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">Opções de filtro</button>
</div>

<div class="row">
  <div class="col-md-4">
    <aside id="offcanvasResponsive" class="offcanvas-md offcanvas-start d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Filtrar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <form class="d-flex flex-column gap-4">
            <div>
              <h6>Preço</h6>
              <div><input name="Preco" type="radio"><span class="ms-2">Menor ao maior</span></div>
              <div><input name="Preco" type="radio"><span class="ms-2">Maior ao menor</span></div>
              <div class="input-group mt-3">
                <span class="input-group-text">R$</span>
                <input type="number" placeholder="Mínimo" class="form-control" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-text">,00</span>
              </div>

              <div class="input-group">
                <span class="input-group-text">R$</span>
                <input type="number" placeholder="Máximo" class="form-control" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-text">,00</span>
              </div>

            </div>

            <div>
              <h6>Categorias</h6>
              <div><input name="Categorias" type="checkbox"><span class="ms-2">Categoria 1</span></div>
              <div><input name="Categorias" type="checkbox"><span class="ms-2">Categoria 2</span></div>
              <div><input name="Categorias" type="checkbox"><span class="ms-2">Categoria 3</span></div>
            </div>

            <div>
              <h6>Promoções</h6>
              <div><input name="Promocoes" type="radio"><span class="ms-2">Mínimo 10% OFF</span></div>
              <div><input name="Promocoes" type="radio"><span class="ms-2">Mínimo 30% OFF</span></div>
              <div><input name="Promocoes" type="radio"><span class="ms-2">Mínimo 50% OFF</span></div>
              <div><input name="Promocoes" type="radio"><span class="ms-2">Qualquer</span></div>
            </div>

            <div><input class="w-100 btn btn-primary" type="submit" value="Filtrar"></div>

          </form>
      </div>
    </aside>
  </div>

  <div class="col col-md-8">
    {% for produto in produtos %}
      <div class="card mb-3 w-100 text-decoration-none">
        <div class="row g-0 align-items-center">
          <div class="col-md-5 p-3 ps-md-2">
          {% load static %}
            <img src="{% static 'img/teste.png' %}" class="img-fluid" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title mb-2">{{ produto.nome }}</h5>
              <p class="card-text"><small>{{ produto.nota }}</small></p>
              
              {% if produto.tem_promocao %}
              
                <p class="card-text mt-3 mb-0 text-decoration-line-through">R${{ produto.preco|floatformat:2 }}</p>
                <p class="card-text">
                  <span class="fw-bold lead me-1">R${{ produto.preco_com_desconto|floatformat:2 }}</span>
                  {{ produto.desconto|floatformat:0 }}% OFF
                </p>

              {% else %}

                <p class="card-text">
                  <span class="fw-bold lead me-1">R${{ produto.preco|floatformat:2 }}</span>
                </p>

              {% endif %}

              <div class="d-flex gap-3 flex-wrap mt-3">
                <a href="{% url 'produto' %}">Ver produto</a>
                <a href="{% url 'lista_de_desejos_adicionar' id_produto=produto.id %}">Salvar na lista de desejos</a>
                <a href="#">Adicionar ao carrinho</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}